.page-admin-commerce-config-commerce-twenga-feed-google-shopping .main-title {
    font-weight: normal;
}

.tw-form {
    border: 1px solid #e0e0e0;
    margin-bottom: 10px;
    padding: 10px;
}

.tw-form .hide {
    display: none;
}

.tw-form .title {
    color: #455a64;
    padding-top: 0;
    padding-bottom: 20px;
}

.tw-form .title.active {
    margin-bottom: 20px;
}

.tw-form .title.success {
    color: #00b0ff;
}

.tw-form .title.inactive {
    color: #daddde;
}

.tw-form .form-control {
    color: #999;
    font: normal 500 1em/1.4em 'Open Sans', Arial, sans-serif;
    margin: 1px;
    max-width: 100%;
    position: relative;
    width: 400px;
    padding: 10px;
    border: solid 5px #f8f8f8;
    -moz-box-shadow: inset 0 0 0 1px #fff;
    -webkit-box-shadow: inset 0 0 0 1px #fff;
    -o-box-shadow: inset 0 0 0 1px #fff;
    box-shadow: inset 0 0 0 1px #fff;
    filter: progid:DXImageTransform.Microsoft.Shadow(color=#fff, Direction=NaN, Strength=0);
    transition: box-shadow 0.3s;
}

.tw-form .form-control:focus {
    -moz-box-shadow: inset 0 0 0 1px #a3a3a3;
    -webkit-box-shadow: inset 0 0 0 1px #a3a3a3;
    -o-box-shadow: inset 0 0 0 1px #a3a3a3;
    box-shadow: inset 0 0 0 1px #a3a3a3;
    filter: progid:DXImageTransform.Microsoft.Shadow(color=#a3a3a3, Direction=NaN, Strength=0);
    outline: none;
}

.tw-form .button-wrap {
    margin: 1em 0;
}

.tw-form #tw-form-signup-submit,
.tw-form #tw-form-login-submit,
.tw-form #commerce-twenga-feed-google-shopping-form .form-submit,
.tw-form a.btn {
    background: #40a7e8;
    border: 1px solid #40a7e8;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 8px;
    -moz-box-shadow: 0 1px 2px #cccccc, inset 0 1px 1px #7bb8ef;
    -webkit-box-shadow: 0 1px 2px #cccccc, inset 0 1px 1px #7bb8ef;
    box-shadow: 0 1px 2px #cccccc, inset 0 1px 1px #7bb8ef;
    font: normal 500 16px/16px 'Open Sans', Arial, sans-serif;
    margin-left: 1px;
    margin-top: 1px;
    margin-right: 1em;
    cursor: pointer;
    padding: 20px 30px;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}

.tw-form #tw-form-signup-submit:hover,
.tw-form #tw-form-login-submit:hover,
.tw-form #commerce-twenga-feed-google-shopping-form .form-submit:hover,
.tw-form a.btn:hover {
    background: #40c4ff;
    border: 1px solid #40c4ff;
}

.tw-form a.btn {
    display: inline-block;
    margin: 1em 0;
}

.tw-form#tw-form-signup #tw-form-signup-submit {
    margin-top: 15px;
    margin-bottom: 15px;
}

.tw-form#tw-form-signup label, .tw-form#tw-form-login label {
    color: #455a64;
    font-weight: normal;
    padding-bottom: 4px;
}

.tw-form#tw-form-signup #no-account, .tw-form#tw-form-login #no-account {
    color: #00b0ff;
    font-weight: bold;
    margin-left: 5px;
    position: relative;
    padding-right: 10px;
}

.tw-form#tw-form-signup #no-account:after, .tw-form#tw-form-login #no-account:after {
    content: '';
    width: 13px;
    height: 10px;
    background: url('../images/arrow.png') left top no-repeat;
    position: absolute;
    top: 6px;
    margin-left: 5px;
}

.tw-form#tw-form-signup #no-account:hover, .tw-form#tw-form-login #no-account:hover {
    text-decoration: none;
}

.tw-form#tw-form-login .form-group {
    margin-bottom: 15px;
}

.tw-form#tw-form-login .form-group label {
    font-weight: normal;
}

.tw-form#tw-form-login p.mdp-forget {
    margin-top: 0;
}

.tw-form#tw-form-login p.mdp-forget a {
    color: #00b0ff;
    font-size: 10px;
}

.tw-form#tw-form-login p.mdp-forget a:hover {
    text-decoration: none;
}

.tw-form#tw-form-password-lost fieldset {
    border: 0;
}

.tw-form#tw-form-password-lost fieldset .fieldset-legend {
    padding-left: 0;
}

.tw-form#tw-form-password-lost fieldset .fieldset-wrapper {
    padding: 0;
}

.tw-form#tw-form-next h4 {
    color: #b1b8bb;
}

.tw-form#tw-form-access .tw-list li {
    margin-bottom: 20px;
}

.tw-form#tw-form-access .tw-alert {
    color: #ef9534;
    font-weight: bold;
    margin-bottom: 10px;
    position: relative;
    padding-left: 30px;
}

.tw-form#tw-form-access .tw-alert:before {
    content: '';
    width: 27px;
    height: 27px;
    background: url('../images/warning.png') left top no-repeat;
    position: absolute;
    top: -2px;
    left: 0;
}
