.page-admin-commerce-config-commerce-twenga-feed-google-shopping {
    .main-title {
        font-weight: normal;
    }
}

.tw-form {
    border: 1px solid #e0e0e0;
    margin-bottom: 10px;
    padding: 10px;

    .hide {
        display: none;
    }


    .title {
        color: #455a64;
        padding-top: 0;
        padding-bottom: 20px;
        &.active {
            margin-bottom: 20px;
    }
        &.success {
            color: #00b0ff;
        }
        &.inactive {
            color: #daddde;
        }
    }

    .form-control {
        color: #999;
        font: normal 500 1em/1.4em "Open Sans", Arial, sans-serif;
        margin: 1px;
        max-width: 100%;
        position: relative;
        width: 400px;

        padding: 10px;
        border: solid 5px #f8f8f8;

        -moz-box-shadow: inset 0 0 0 1px #fff;
        -webkit-box-shadow: inset 0 0 0 1px #fff;
        -o-box-shadow: inset 0 0 0 1px #fff;
        box-shadow: inset 0 0 0 1px #fff;

        filter:progid:DXImageTransform.Microsoft.Shadow(color=#fff, Direction=NaN, Strength=0);
        transition: box-shadow 0.3s;

        &:focus {
            -moz-box-shadow: inset 0 0 0 1px #a3a3a3;
            -webkit-box-shadow: inset 0 0 0 1px #a3a3a3;
            -o-box-shadow: inset 0 0 0 1px #a3a3a3;
            box-shadow: inset 0 0 0 1px #a3a3a3;
            filter:progid:DXImageTransform.Microsoft.Shadow(color=#a3a3a3, Direction=NaN, Strength=0);
            outline: none;
        }
    }

    .button-wrap {
        margin: 1em 0;
    }

    #tw-form-signup-submit,
    #tw-form-login-submit,
    #commerce-twenga-feed-google-shopping-form .form-submit,
    a.btn {
        background: #40a7e8;
        //background: -moz-linear-gradient(top, #36a2f6 0%, #2f88cd 100%);
        //background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #36a2f6), color-stop(100%, #2f88cd));
        //background: -webkit-linear-gradient(top, #36a2f6 0%, #2f88cd 100%);
        //background: -o-linear-gradient(top, #36a2f6 0%, #2f88cd 100%);
        //background: -ms-linear-gradient(top, #36a2f6 0%, #2f88cd 100%);
        //background: linear-gradient(to bottom, #36a2f6 0%, #2f88cd 100%);
        border: 1px solid #40a7e8;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        border-radius: 8px;
        -moz-box-shadow: 0 1px 2px #cccccc, inset 0 1px 1px #7bb8ef;
        -webkit-box-shadow: 0 1px 2px #cccccc, inset 0 1px 1px #7bb8ef;
        box-shadow: 0 1px 2px #cccccc, inset 0 1px 1px #7bb8ef;
        font: normal 500 16px/16px "Open Sans", Arial, sans-serif;
        margin-left: 1px;
        margin-top: 1px;
        margin-right: 1em;
        cursor: pointer;
        padding: 20px 30px;
        text-decoration: none;
        color: #fff;
        text-transform: uppercase;
        &:hover {
            background: #40c4ff;
            border: 1px solid #40c4ff;
        }
    }
    a.btn {
        display: inline-block;
        margin: 1em 0;
    }

    &#tw-form-signup {

        #tw-form-signup-submit {
            margin-top: 15px;
            margin-bottom: 15px;
        }
    }
    &#tw-form-signup,
    &#tw-form-login {

        label {
            color: #455a64;
            font-weight: normal;
            padding-bottom: 4px;
        }
        #no-account {
            color: #00b0ff;
            font-weight: bold;
            margin-left: 5px;
            position: relative;
            padding-right: 10px;
            &:after {
                content: "";
                width: 13px;
                height: 10px;
                background: url('../images/arrow.png') left top no-repeat;
                position: absolute;
                top: 6px;
                margin-left: 5px;
            }
            &:hover {
                text-decoration: none;
            }
        }
    }
    &#tw-form-login {
        .form-group {
            margin-bottom: 15px;
            label {
                font-weight: normal;
            }
        }
        p.mdp-forget {
            margin-top: 0;
            a {
                color: #00b0ff;
                font-size: 10px;
                &:hover {
                    text-decoration: none;
                }
            }
        }
    }


    &#tw-form-password-lost fieldset {
        border: 0;
        .fieldset-legend {
            padding-left: 0;
        }
        .fieldset-wrapper {
            padding: 0;
        }
    }

    &#tw-form-next {
        h4 {
            color: #b1b8bb;
        }
    }
    &#tw-form-access {
        .tw-list {
            li {
                margin-bottom: 20px;
            }
        }
        .tw-alert {
            color: #ef9534;
            font-weight: bold;
            margin-bottom: 10px;
            position: relative;
            padding-left: 30px;
            &:before {
                content: "";
                width: 27px;
                height: 27px;
                background: url('../images/warning.png') left top no-repeat;
                position: absolute;
                top: -2px;
                left: 0;
            }
        }
    }
}
